<!doctype html>
<html ng-app="demo">
<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="ProductController.js"></script>
</head>

<body>
<div ng-controller="ProductController">
    <table>
        <tr ng-repeat="product in prods">
            <td> {{ product.name }}</td>
            <td><button ng-click="edit()">Edit entry</button></td>
            <td><button ng-click="remove($index)">Remove entry</button></td>
        </tr>
    </table>
</div>
</body>
</html>